@model TO.Controllers.ListAllVehiclesVM
@{
    ViewData["Title"] = "Pojazdy";
}
<header>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav align-self-end" id="nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Urzędnik
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Kierowca" asp-action="Index_urzednik">Kierowcy</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pojazd" asp-action="Index_urzednik">Pojazdy</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "Home")">Wyloguj</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h2>
    Liczba pojazdow: @Model.Pojazdy.Count() <a class="btn btn-primary float-right" href="@Url.Action("Add_urzednik")">Dodaj pojazd</a>
</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Typ</th>
            <th scope="col">Marka</th>
            <th scope="col">Model</th>
            <th scope="col">VIN</th>
            <th scope="col">Data produkcji</th>
            <th scope="col">Pojemność</th>
            <th scope="col">Waga</th>
            <th scope="col">Rejestracja</th>
            <th scope="col">Właściciel</th>
            <th scope="col">Ubezpieczenie</th>
            <th scope="col">Badanie techniczne</th>
            <th scope="col">Zatrzymanie dowodu</th>
            <th scope="col">Utrata dowodu</th>
            <th scope="col">Kradzież</th>
            <th scope="col">Uwagi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pojazd in Model.Pojazdy)
        {
            <tr>
                <td>@(EnumHelper<PojazdVM.TypPojazduEnum>.GetDisplayValue(EnumHelper<PojazdVM.TypPojazduEnum>.Parse(pojazd.Typ)))</td>
                <td>@pojazd.Marka</td>
                <td>@pojazd.Model</td>
                <td>@pojazd.Vin</td>
                <td>@pojazd.DataProdukcji</td>
                <td>@pojazd.Pojemnosc</td>
                <td>@pojazd.Waga</td>
                <td>@pojazd.Rejestracja</td>
                <td>@pojazd.Wlasciciel</td>
                <td>@pojazd.Ubezpieczenie</td>
                <td>@pojazd.Badanie</td>
                <td>@pojazd.ZatrzymanieDowodu</td>
                <td>@pojazd.UtrataDowodu</td>
                <td>@pojazd.Kradziez</td>
                <td>@pojazd.Uwagi</td>
                <td>
                    <button type="button" class="btn btn-sm btn-secondary btn-edit" data-id="@pojazd.Id">Edytuj</button>
                    <button type="button" class="btn btn-sm btn-danger btn-delete" data-id="@pojazd.Id">USUŃ</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".btn-edit").click((e) => {
                let id = e.target.dataset.id
                let url = "@Url.Action("Edit_urzednik", "Pojazd", new { id = "__id__"})"
                url = url.replace("__id__", id)
                window.location.href = url
            });
            $(".btn-delete").click((e) => {
                let id = e.target.dataset.id;
                $.ajax({
                    url: "@Url.Action("Delete")",
                    method: 'POST',
                    data: {
                        id: id
                    }
                }).then(() => {
                    window.location.href = "@Url.Action("Index_urzednik")"
                })
            });
        })
    </script>
}
