@model ListAllClientsVM
@{
    ViewData["Title"] = "Kierowcy";
}
<header>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav align-self-end" id="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Policja
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Kierowca" asp-action="Index_policja">Kierowcy</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pojazd" asp-action="Index_policja">Pojazdy</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "Home")">Wyloguj</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Imie</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">PESEL</th>
            <th scope="col">Data urodzenia</th>
            <th scope="col">Kategorie</th>
            <th scope="col">Punkty karne</th>
            <th scope="col">Zatrzymanie</th>
            <th scope="col">Zakaz</th>
            <th scope="col">Utrata</th>
            <th scope="col">Uwagi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kierowca in Model.Kierowcy)
        {
            <tr>
                <td>@kierowca.Imie</td>
                <td>@kierowca.Nazwisko</td>
                <td>@kierowca.PESEL</td>
                <td>@kierowca.DataUrodzenia</td>
                <td>@kierowca.Kategorie</td>
                <td>@kierowca.Punkty</td>
                <td>@kierowca.Zatrzymanie</td>
                <td>@kierowca.Zakaz</td>
                <td>@kierowca.Utrata</td>
                <td>@kierowca.Uwagi</td>
                <td><button type="button" class="btn btn-sm btn-secondary btn-edit" data-id="@kierowca.Id">Edytuj</button></td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".btn-edit").click((e) => {
                let id = e.target.dataset.id
                let url = "@Url.Action("Edit_policja", "Kierowca", new { id = "__id__"})"
                url = url.replace("__id__", id)
                window.location.href = url
            });
        })
    </script>
}
